{% extends "base.html" %}

{% block head_script %}
<script src="/static/js/members/edit.js"></script>
{% endblock head_script %}

{% block title %}
Editing {{ user.fname }} {{ user.lname }}'s Profile
{% endblock title %}

{% block content %}

{% from "_formhelpers.html" import render_field %}


<h1>Editing {{ user.fname }} {{ user.lname }}'s Profile</h1>


{% if change_pass_link is sameas True  %}
<br/>
<h4><a href="/changepassword">Change Password</a></h4>
<br/>
{% endif %}

{% if main_user_form %}
<h3>Main Information</h3>
<br/>
<form method="post" action="/members/edit/{{ user.cwruid }}">
  <dl>
    {{ render_field(main_user_form.fname) }}
    {{ render_field(main_user_form.mname) }}
    {{ render_field(main_user_form.lname) }}
    {{ render_field(main_user_form.avatar) }}
    {{ main_user_form.csrf_token }}
    {{ main_user_form.update }}
  </dl>
</form>
{% endif %}

{% if admin_user_form %}
<br/>
<h3>Admin Information</h3>
<br/>
<form method="post" action="/members/edit/{{ user.cwruid }}">
  <dl>
    {{ render_field(admin_user_form.admin_form.cwruid) }}
    {{ render_field(admin_user_form.admin_form.big) }}
    {{ render_field(admin_user_form.admin_form.family) }}
    {{ render_field(admin_user_form.admin_form.roles) }}
    {{ admin_user_form.csrf_token }}
    {{ admin_user_form.update }}
  </dl>
</form>
{% endif %}

<br/>
<h3>Email Address</h3>
<br/>

<form id="emails" method="post" action="/members/edit/{{ user.cwruid}}?emails">
  <div class="fields">
  {% set counter = 0 %}
  {% for email_form in emails_form.emails %}
  {% set counter = counter + 1 %}
  <dl>
    {{ render_field(email_form.emailName) }}
    {{ render_field(email_form.emailAddress) }}
    {{ email_form.key }}
    {{ email_form.csrf_token }}
  {% if counter > 1 %}
  <button type="button" class="removeForm" onClick="removeForm($(this));">Delete</button>
  {% endif %}
  </dl>
  {% endfor %}
  </div>
  <button id="email-addbutton" type="button">Add Email</button>
  {{ emails_form.update }}
  {{ emails_form.csrf_token }}
</form>


<br/>
<h3>Phone Numbers</h3>
<br/>

<form id="phones" method="post" action="/members/edit/{{ user.cwruid}}?phones">
  <div class="fields">
  {% set counter = 0 %}
  {% for phone_form in phones_form.phones %}
  {% set counter = counter + 1 %}
  <dl>
    {{ render_field(phone_form.phoneName) }}
    {{ render_field(phone_form.phoneNumber) }}
    {{ phone_form.key }}
    {{ phone_form.csrf_token }}
  {% if counter > 1 %}
  <button type="button" class="removeForm" onClick="removeForm($(this));">Delete</button>
  {% endif %}
  </dl>
  {% endfor %}
  </div>
  <button id="phone-addbutton" type="button">Add Phone Number</button>
  {{ phones_form.update }}
  {{ phones_form.csrf_token }}
</form>



<br/>
<h3>Addresses</h3>
<br/>

<form id="addresses" method="post" action="/members/edit/{{ user.cwruid}}?addresses">
  <div class="fields">
  {% set counter = 0 %}
  {% for address_form in addresses_form.addresses %}
  {% set counter = counter + 1 %}
  <dl>
    {{ render_field(address_form.addrName) }}
    {{ render_field(address_form.street1) }}
    {{ render_field(address_form.street2) }}
    {{ render_field(address_form.city) }}
    {{ render_field(address_form.state) }}
    {{ render_field(address_form.zip_code) }}
    {{ address_form.key }}
    {{ address_form.csrf_token }}
  {% if counter > 1 %}
  <button type="button" class="removeForm" onClick="removeForm($(this));">Delete</button>
  {% endif %}
  </dl>
  {% endfor %}
  </div>
  <button id="address-addbutton" type="button">Add Address</button>
  {{ addresses_form.update }}
  {{ addresses_form.csrf_token }}
</form>




{% endblock content %}
