{% extends "base.html" %}

{% block title %}
List Users
{% endblock title %}

{% block content %}

{% if family %}
<h1>{{ family.name.title() }}</h1>
<a href="/members/list">All members</a><br/>
<br/>
{% else %}
<h1>All Members</h1>
{% endif %}

{% if can_edit %}
<a href="/members/create">Create new member</a>
{% endif %}

<table class="table table-bordered table-striped">
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Case ID</th>
<th>View Profile</th>
{% if can_edit %}
<th>Edit Profile</th>
<th>Delete Profile</th>
{% endif %}
</tr>
{% for user in users %}
<tr>
<td>{{ user.fname }}</td>
<td>{{ user.lname }}</td>
<td>{{ user.cwruid }}</td>
<td><a href="/members/view/{{ user.cwruid }}">View</a></td>
{% if can_edit %}
<td><a href="/members/edit/{{ user.cwruid }}">Edit</a></td>
<td><a href="/members/delete/{{ user.cwruid }}">Delete</a></td>
{% endif %}
</tr>
{% endfor %}
</table>


{% endblock content %}
