{% extends "base.html" %}

{% block title %}
Facebook Settings
{% endblock title %}

{% block head_script %}
<script src="/static/js/facebook/admin.js"></script>
{% endblock head_script %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

{% set user_opt_count = 0 %}
{% set page_opt_count = 0 %}
<h1>Facebook Settings</h1>

<a id="new-user-link" href="/facebook/admin/get-user-access">Add a new user</a>

<h3>List of User Access Tokens</h3>

<form method="post" action="/facebook/admin/handle-options/json">
<table class="table table-bordered table-striped">
<tr>
<th>Username</th>
<th>Expires On</th>
<th>Time Left</th>
<th>Use Photo Albums</th>
<th>Delete Access</th>
</tr>
{% for token in user_tokens %}
<tr>
<td><a name="{{ token.username }}"></a>{{ token.username }}</td>
<td>{{ token.expiration }}</td>
<td>{{ token.time_left }}</td>
<td>{{ token_options.user_options[user_opt_count].use_albums }}</td>
<td><a href="/facebook/admin/delete-user-access/{{ token.username }}">Delete</a></td>
</tr>
{{ token_options.user_options[user_opt_count].token_key }}
{{ token_options.user_options[user_opt_count].csrf_token }}
{% set user_opt_count = user_opt_count + 1 %}
{% endfor %}
</table>

<h3>List of Page Access Tokens</h3>

<table class="table table-bordered table-striped">
<tr>
<th>Page Name</th>
<th>Username</th>
<th>Category</th>
<th>Permissions</th>
<th>Use Photo Albums</th>
</tr>
{% for token in page_tokens %}
<tr>
<td>{{ token.name }}</td>
<td><a href="#{{ token.user_token.username }}">{{ token.user_token.username }}</a></td>
<td>{{ token.category }}</td>
<td>
  <ul>
  {% for perm in token.perms %}
    <li>{{ perm }}</li>
  {% endfor %}
  </ul>
</td>
<td>{{ token_options.page_options[page_opt_count].use_albums }}</td>
</tr>
{{ token_options.page_options[page_opt_count].token_key }}
{{ token_options.page_options[page_opt_count].csrf_token }}
{% set page_opt_count = page_opt_count + 1 %}
{% endfor %}
</table>
{{ token_options.csrf_token }}
</form>

<h3> Application Access Tokens </h3>

<table class="table table-bordered table-striped">
<tr>
<th>App Name</th>
<th>Username</th>
<th>Category</th>
</tr>
{% for token in app_tokens %}
<tr>
<td>{{ token.name }}</td>
<td><a href="#{{ token.user_token.username }}">{{ token.user_token.username }}</a></td>
<td>{{ token.category }}</td>
</tr>
{% endfor %}
</table>

{% endblock content %}
