{% extends "base.html" %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}

<h1>Change Password</h1>
{% from "_formhelpers.html" import render_field %}
<form method="post" action="/changepassword">
  <dl>
    {{ render_field(change_password_form.old_password) }}
    {{ render_field(change_password_form.new_password) }}
    {{ render_field(change_password_form.confirm_password) }}
    {{ change_password_form.csrf_token }}
  </dl>
  <p><input type=submit value=Change>
</form>

{% endblock content %}
