{% extends "base.html" %}

{% block title %}
List Users
{% endblock title %}

{% block content %}

<h1>All Members</h1>

<a href="/exec/members/create">Create new member</a>

<table>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Case ID</th>
<th>View Profile</th>
<th>Delete Profile</th>
</tr>
{% for user in users %}
<tr>
<td>{{ user.firstName }}</td>
<td>{{ user.lastName }}</td>
<td>{{ user.cwruID }}</td>
<td><a href="/members/{{ user.cwruID }}">View</a></td>
<td><a href="/exec/members/delete/{{ user.cwruID }}">Delete</a></td>
</tr>
{% endfor %}
</table>


{% endblock content %}
