{% extends "base.html" %}

{% block title %}
Create a Service Event
{% endblock title %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<h1>{{ event.name }} Service Event</h1>
{% if event.desc %}
<h3>{{ event.desc }}</h3><br/>
{% endif %}
<h4>Additional Info: {{ event.addInfo }}</h4><br/>
<h4>Start: {{ event.str_start }}</h4><br/>
<h4>End: {{ event.str_end }}</h4><br/>
<h4>Location: {{ event.location }}</h4><br/>
{% if can_edit is sameas True %}
<h4><a href="/service/{{ event.url_name}}/{{ event.url_time }}/edit">Edit this event</a></h4>
<br/>
<br/>
{% endif %}

{% if event.maxBro %}
<h3>{{ num_signed_up }} out of {{ event.maxBro %}
{% endif %}

{% if signed_up %}
<form method="get" action="/service/{{ event.url_name }}/{{ event.url_time }}/signup">
<input type="submit" value="Signup!"/>
</form>
{% elif not full %}
<form method="get" action="/service/{{ event.url_name }}/{{ event.url_time }}/unsignup">
<input type="submit" value="Remove yourself from attendees"/>
</form>
{% else %}
Sorry this event is already filled up
{% endif %}
