{% extends "base.html" %}

{% block title %}
Create a Service Event
{% endblock title %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<h1>{{ event.name }} Service Event</h1>
{% if event.desc %}
<h3>{{ event.desc }}</h3><br/>
{% endif %}
<h4>Additional Info: {{ event.addInfo }}</h4><br/>
<h4>Start: {{ event.str_start_time }}</h4><br/>
<h4>End: {{ event.str_end_time }}</h4><br/>
<h4>Location: {{ event.location }}</h4><br/>
{% if can_edit is sameas True %}
<h4><a href="/service/{{ event.url_name}}/{{ event.url_time }}/edit">Edit this event</a></h4>
<br/>
<br/>
{% endif %}

<br/>
<br/>
<h3><a href="/service">See other events</a></h3>
<br/>
<br/>

{% if future %}

<h3>Brothers Signed Up</h3>
{% if event.maxBro %}
<h3>{{ num_signed_up }} out of {{ event.maxBro }}
{% endif %}
<br/>

<h3>
<ul>
{% for signup in signups %}
<li><a href="/members/view/{{ signup.user.cwruid }}">{{signup.user.fname }} {{signup.user.lname}}</a></li>
{% endfor %}
</ul></h3>

{% if signed_up %}
  <form method="get" action="/service/{{ event.url_name }}/{{ event.url_time }}/unsignup">
    <input type="submit" value="Remove yourself from the attendees"/>
  </form>
{% else %}
  {% if full %}
  Sorry this event is already filled up
  {% else %}
  <form method="get" action="/service/{{ event.url_name }}/{{ event.url_time }}/signup">
    <input type="submit" value="Sign up"/>
  </form>
  {% endif %}
{% endif %}
{% else %}
<h3>Brothers Signed Up</h3>
{% if event.maxBro %}
<h3>{{ num_signed_up }} out of {{ event.maxBro }}</h3>
{% endif %}
<br/>
<h3>
<ul>
{% for signup in signups %}
<li><a href="/members/view/{{ signup.user.cwruid }}">{{signup.user.fname }} {{signup.user.lname}}</a></li>
{% endfor %}
</ul></h3>
<br/>
<br/>
{% if signed_up %}
{% if service_report %}
<h3><a href="/service/report/{{event.url_name }}/{{ event.url_time }}">A service Report has already been submitted.</a></h3>
{% else %}
<h3><a href="/service/{{ event.url_name }}/{{ event.url_time }}/service-report">Submit a service report for this event</a></h3>
{% endif %}
{% else %}
<h3>Sorry this event is already past. You can no longer sign up</h3>
{% endif %}
{% endif %}
{% endblock content %}
