{% extends "base.html" %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="/static/css/photos/main.css"/>
{% endblock style_block %}

{% block title %}
Albums
{% endblock title %}

{% block content %}

<a href="/photos/albums/edit">Edit list of available albums</a><br/>
<br/>

<div id="images">
{% for album in albums %}
<div class="img">
  <h3>{{ album.name }}</h3><br/>
  {% if album.desc %}
  {{ album.desc }}<br/>
  {% endif %}
  <a href="/photos/albums/{{ album.me }}"><img src="{{ album.cover_photo }}"/></a><br/>
  {% if can_edit %}
  <a href="/photos/albums/edit/{{ album.me }}">Edit</a>
  {% endif %}
</div>
{% endfor %}
</div>

{% endblock content %}
